.container {
  height: 100%;
  display: flex;
  flex-direction: column;
};

.toolbar {
  background: #1976d2;
  height: 65px;
};

.toolbar-space {
  flex: 1 1 auto;
};

.toolbar-query-field {
  width: 200px;
};

.content {
  flex: 1;
  display: flex;
};

.content-menu {
  width: 200px;
  box-shadow: 1px 0px 1px 1px #0000001f;
  .mat-list {
    padding: 0
  };
  .mat-list-item {
    background: #fff;
    border: none;
    cursor: pointer;
  };
  .mat-list-item:hover {
    color: #1976d2;
  };
};
.menu-active {
  color: #1976d2;
  background: #e9ecef !important;
};

.content-router {
  flex: 1;
  padding: 10px;
};

:host::ng-deep {
  .mat-drawer-content {
    overflow-x: hidden;
  };
  .mat-form-field-flex {
    align-items: end;
  };
};