<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <img src="../../assets/monster_ball.png" alt="monster-ball">
    <span>Pokémon Battle Center</span>
    <span class="toolbar-space"></span>
    <mat-form-field class="toolbar-query-field">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" [(ngModel)]="queryCondition">
      <mat-icon *ngIf="queryCondition" matSuffix mat-icon-button aria-label="Clear" (click)="queryCondition=''">close</mat-icon>
    </mat-form-field>
  </mat-toolbar>
  <div class="content">
    <div class="content-menu">
      <mat-list role="list">
        <button mat-list-item><mat-icon>home</mat-icon>主页</button>
        <button mat-list-item><mat-icon>star</mat-icon>收藏</button>
        <button mat-list-item><mat-icon>mail</mat-icon>私信</button>
        <button mat-list-item><mat-icon>person</mat-icon>我的</button>
      </mat-list>
    </div>
    <div class="content-card-list">
      <div class="card-list-container">
        <mat-card *ngFor="let displayCard of displayCardList" class="display-card">
          <mat-card-header>
            <mat-card-title>{{ displayCard.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ displayCard.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="content-tool-list">
      <mat-list role="list">
        <button mat-list-item><mat-icon>calculate</mat-icon>能力值计算器</button>
      </mat-list>
    </div>
  </div>
</div>